<div layout-gt-sm="row" layout="column" class="listdemoBasicUsage">
    <div flex-gt-sm="100" flex="">
        <md-content>
            <md-list flex="">
                <md-list-item class="md-3-line" ng-repeat="item in lowEmergencies" ng-click="null">
                    <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ item.creationDate }}</h3>
                        <h4>{{ item.location.latitude + " " + item.location.longitude }}</h4>
                        <p>{{ item.type }}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
