<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Alife</title>
  <meta name="description" content="Keep safe, keep alive">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
  <!--Initialize Firebase-->
  <script>
    var config = {
      apiKey: "AIzaSyAuSQYw7yG9dN23RDOj41FvH3r1GXSTlHk",
      authDomain: "alife-93165.firebaseapp.com",
      databaseURL: "https://alife-93165.firebaseio.com",
      storageBucket: "alife-93165.appspot.com",
      messagingSenderId: "866200268369"
    };
    firebase.initializeApp(config);
  </script>

  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css" />

  <!-- Your custom styles (optional) -->
  <link href="css/style.css" rel="stylesheet">


</head>
<body ng-cloak>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->


  <!--Navbar-->
  <nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <h2 class="md-display-1">Alife</h2>
      </a>
      <div class="collapse navbar-collapse" id="navbarNav1">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div layout="row" layout-xs="column">
    <div flex>
      <div id="map"></div>
      <script>
        var map;
        var markers = [];

        function initMap() {
          var barcelonaPos = {lat: 41.390205, lng: 2.154007};
          map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: barcelonaPos
          });
        }
        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
          for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
          }
        }

        // Removes the markers from the map, but keeps them in the array.
        function clearMarkers() {
          setMapOnAll(null);
        }

        // Shows any markers currently in the array.
        function showMarkers() {
          setMapOnAll(map);
        }

        // Deletes all markers in the array by removing references to them.
        function deleteMarkers() {
          clearMarkers();
          markers = [];
        }

      </script>
    </div>
    <div flex>
      <div layout="column">
        <div flex="no-shrink" ng-controller="HomeCtrl" class="scrollDiv">
          <md-content>
            <md-tabs md-dynamic-height md-border-bottom md-selected="0">
              <md-tab label="High Emergency" ng-click="getHighEmergencies()">
                <md-content class="md-padding">
                  <div layout-gt-sm="row" layout="column" class="listdemoBasicUsage">
                    <div flex-gt-sm="100" flex="">
                      <md-content>
                        <md-list flex="">
                          <md-list-item class="md-3-line" ng-repeat="item in highEmergencies" ng-click="setEmergency(item)">
                            {{paintMarkInMap(item.location.latitude,item.location.longitude)}}
                            <img ng-src="img/avatar.png" class="md-avatar" alt="icon">
                            <div class="md-list-item-text" layout="column">
                              <h3>By {{ item.requesterName }}</h3>
                              <h4>{{ item.creationDate | date:'medium' }}</h4>
                            </div>

                          </md-list-item>
                        </md-list>
                      </md-content>
                    </div>
                  </div>
                </md-content>
              </md-tab>
              <md-tab label="Medium Emergency" ng-click="getMediumEmergencies()">
                <md-content class="md-padding">
                  <div layout-gt-sm="row" layout="column" class="listdemoBasicUsage">
                    <div flex-gt-sm="100" flex="">
                      <md-content>
                        <md-list flex="">
                          <md-list-item class="md-3-line" ng-repeat="item in mediumEmergencies" ng-click="setEmergency(item)">
                            {{paintMarkInMap(item.location.latitude,item.location.longitude)}}
                            <img ng-src="img/avatar.png" class="md-avatar" alt="icon">
                            <div class="md-list-item-text" layout="column">
                              <h3>By {{ item.requesterName }}</h3>
                              <h4>{{ item.creationDate | date:'medium' }}</h4>
                            </div>
                          </md-list-item>
                        </md-list>
                      </md-content>
                    </div>
                  </div>
                </md-content>
              </md-tab>
              <md-tab label="Low Emergency" ng-click="getLowEmergencies()">
                <md-content class="md-padding">
                  <div layout-gt-sm="row" layout="column" class="listdemoBasicUsage">
                    <div flex-gt-sm="100" flex="">
                      <md-content>
                        <md-list flex="">
                          <md-list-item class="md-3-line" ng-repeat="item in lowEmergencies" ng-click="setEmergency(item)">
                            {{paintMarkInMap(item.location.latitude,item.location.longitude)}}
                            <img ng-src="img/avatar.png" class="md-avatar" alt="icon">
                            <div class="md-list-item-text" layout="column">
                              <h3>By {{ item.requesterName }}</h3>
                              <h4>{{ item.creationDate | date:'medium' }}</h4>
                            </div>
                          </md-list-item>
                        </md-list>
                      </md-content>
                    </div>
                  </div>
                </md-content>
              </md-tab>
            </md-tabs>
          </md-content>
        </div>
        <div flex="no-shrink" class="chatZone" ng-controller="chatController" >
          <!--<p>User: <input type="text" ng-model="newmessage.id"></p>-->
          <md-content>
          <ul>
            <li ng-repeat="message in messages">
              {{message.senderName}} :{{message.content}}
            </li>
          </ul>
          </md-content>
          <p>Message :<input type="text" ng-model="newmessage.text"></p>
          <button ng-click="insert(newmessage)">Send</button>

        </div>
      </div>
    </div>

  </div>




  <!--<div>Angular seed app: v<span app-version></span></div>-->

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1SgRxNmZF9Vxdz5KsyEhyRF3PqE4wc0A&callback=initMap">
  </script>

  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>

  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/tether.min.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>

  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>

  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="home/home.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
